@font-face{
    font-family: 'Inconsolata-Regular';
    src : url('../assets/font/Inconsolata-Regular.ttf');
}

.row-align {
    padding-left: 80px;
}

#prompt {
    margin-bottom: 5px;
    font-size: 1.25rem;
    margin-left: -75px;
    font-family: 'Inconsolata-Regular';
}

#star {
    height: 30px;
}

.probility-item {
    border: solid #f7f7f9;
    border-radius: 0.5rem;
}

.spinner-border {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.progress {
    height: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.progress-bar {
    text-align: right;
}

.question-mark {
    margin-top: 10px;
    margin-top: 10px;
    height: 30px;
}

.icon-number {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    display: none;
}